<div>
    <div>
        <nav>
            <a href="">
                <img src="" alt="logo">
            </a>
            <div>
                <ul>
                    <li>
                        <a href="">Inicio</a>
                    </li>
                    <li><a href="">Reserva</a>
                    </li>
                    <li><a href="">Contacto</a></li>
                </ul>
                <div>
                    <form action="">
                        <input type="text" name="Buscar" placeholder="Buscar">
                        <button type="submit">
                            <li></li>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>